<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!--  -->
  <section>
    <div className='inr'> 
      <!-- ! : default -->
      <a href="https://www.w3schools.com/html/html_intro.asp">https://www.w3schools.com/html/html_intro.asp</a>
      <a href="https://codepen.io/pen/">https://codepen.io/pen/</a>
      <!-- {/* Text */} -->
      <h1>h1</h1>
      <h2>h2</h2>
      <h3>h3</h3>
      <h4>h4</h4>
      <h5>h5</h5>
      <p>kdjflskdjfl<span style="fontWeight: 700">sdjfk</span>sdjflsdjfl</p>
      <b>bold</b>
      <strong>strong</strong>
      <i>italic</i>
      <em>italic</em>

      <!-- pictire -->
      <figure><img src="" alt=""></figure>

      <div>
        space : padding/ margin
        border radius 
        position: absolute /relative (기준점/ 부모)
        display: block, inline block, flex, grid, inline
      </div>
    </div>
  </section>
</body>
</html>