.cardbuilder{
    .cardbuilder-right{
        h1{
            font-size: 1.2rem;
            margin-bottom: 1em;
        }
        h2{
            margin-bottom: 1em;
            font-weight: 400;
            font-size: 0.8rem;
        }
        .cardbuilder-right-item{
            margin-bottom: 1rem;
        }
    }
}